:root {
  --white: #fff;
  --white-transparen: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-transparen: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Bold.ttf")
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
a {
  font-weight: 400;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  text-decoration: none;
}

.section {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.section--relative {
  position: relative;
}

.section--bg-light {
  background-color: var(--light);
}

.section--bg-brown {
  background-color: var(--brown);
}

.section--bg-primary-dark {
  background-color: var(--primary-dark);
}

.section--before::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  
  opacity: 0.1;
}

.section__container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section__container--fw {
  color: var(--white);
}

.section__header {
  margin-bottom: 201px;
}

.section__title {
  position: relative;
  z-index: 1;
}

.section__title--primary {
  color: var(--primary);
}

.section__img {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: 0;

  height: 525px;
}

.section__content {
  column-count: 2;
  column-gap: 30px;
}

.section__text--break {
  break-after: avoid;
}

.section__text--mt-16 {
  margin-top: 16px;
}

.section__text--mb-16 {
  margin-bottom: 1em;  
}

.section__title--mb-30 {
  margin-bottom: 30px;
}

.section__link {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;

  background-color: var(--primary);

  font-weight: 700;
  color: var(--white);

  text-transform: uppercase;
}

.section__link:hover {
  background-color: #EA7600;
}

.section--height {
  height: 747px;
}

.preview {
  position: relative;
  height: 947px;
  padding-bottom: 0;
  text-align: center;
}

.preview__container {
  height: 747px;
  padding-bottom: 0;
}

.preview__title {
  margin-bottom: 30px;
}

.preview__text {
  margin-bottom: 30px;
}

.preview__img {
  position: relative;
  z-index: 100;
  display: block;
  right: 0;
  left: 0;
  margin: auto;

  width: 919px;
  height: 517px;
}

.img--shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.preview__footer {
  width: 100%;
  height: 200px;
  background-color: var(--primary-dark);
}

.nav {
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding-top: 200px;
}

.nav__cards-title {
  width: 350px;
}

.nav__title {
  font-size: 52px;
  color: var(--white);
}

.card {
  display: block;
  width: 350px;
  padding: 24px;

  background-color: var(--light);
}

.card__number {
  display: inline-block;
  margin-bottom: 40px;

  font-family: Neucha, sans-serif;
  font-size: 64px;
  line-height: 1em;
}

.card:hover {
  background-color: var(--primary);
  color: var(--white);
}

.section__top {
  display: flex;
  column-gap: 30px;
  margin-bottom: 100px;
}

.section__top--row-reverse {
  flex-direction: row-reverse;
}

.section__name {
  font-size: 24px;
  font-weight: 400;
  font-family: Neucha, sans-serif;
}

.section__name--fcdt {
  color: var(--dark-transparen);
}

.section__name--fcwt {
  color: var(--white-transparen);
}

.content__title {
  column-span: all;

  margin-bottom: 20px;
  padding-left: 10px;

  font-size: 14px;
  font-weight: 700;
}

.content__title--light-theme {
  background-color: var(--brown);
  color: var(--white);
}

.content__title--brown-theme {
  background-color: var(--white);
  color: var(--brown);
}

.section--mt-13 {
  margin-top: 13px;
}

.footer {
  display: flex;
  background-color: var(--primary-dark);
}

.footer__title {
  color: var(--white);
}

.footer__left {
  width: 50%;
  padding: 55px;
}

.footer__right {
  width: 50%;
  padding-top: 38px;
  padding-left: 15px;
}

.form--flex {
  display: flex;
}

.form {
  color: var(--white);
}

.form__label {
  display: inline-block;
  margin-bottom: 9px;
}

.form__input {
  height: 50px;
  width: 423px;
  padding: 15px;

  border: none;
}

.form__input::placeholder {
  font-size: 13px;
  line-height: 1.6em;
  color: #757575;
  opacity: 0.2;
}

.form__btn {
  position: relative;
  width: 70px;
  height: 50px;

  border: none;

  background-color: var(--primary);
}

.form__btn::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;

  background-image: url("../assets/images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form__text {
  font-size: 12px;
}

.form__link {
  font-size: 12px;
  color: var(--white);
  text-decoration: underline;
}

.footer__info {
  margin-top: 76px;
  text-align: center;

  font-size: 14px;
  line-height: 16px;
}
.footer__info p {
  margin-bottom: 16px;
}

.info__link {
  color: #1085c5;
  text-decoration: underline;
}

/* .section {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.section--relative {
  position: relative;
}

.section--before::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  
  opacity: 0.1;
}

.section--bg-light {
  background-color: var(--light);
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.column-container {
  column-count: 2;
  column-gap: 30px;
}

.column-container__text {
  margin-bottom: 16px;
}

.column-container__text--break {
  break-before: column;
}

.header {
  position: relative;
}

.header__top {
  margin-bottom: 201px;
}

.header__title {
  position: relative;
  z-index: 1;
}

.header__title--primary {
  color: var(--primary);
}

.header__img {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: 0;

  height: 525px;
}

.header__link {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;

  background-color: var(--primary);

  font-weight: 700;
  color: var(--white);

  text-transform: uppercase;
}

.header__link:hover {
  background-color: #EA7600;
} */
