/* :root {
  --white: #fff;
  --white-transparen: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-transparen: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Bold.ttf")
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1440px;
}

body,
a {
  font-weight: 400;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  text-decoration: none;
}

.section {
  width: 1440px;
  margin: 0 auto;
}

.section--relative {
  position: relative;
}

.section--bg-light {
  background-color: var(--light);
}

.section--bg-brown {
  background-color: var(--brown);
}

.section--bg-primary-dark {
  background-color: var(--primary-dark);
}

.section--before::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  
  opacity: 0.1;
}

.section__container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section__container--fw {
  color: var(--white);
}

.section__header {
  margin-bottom: 201px;
}

.section__title {
  position: relative;
  z-index: 1;
}

.section__title--primary {
  color: var(--primary);
}

.section__img {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: 0;

  height: 525px;
}

.section__content {
  column-count: 2;
  column-gap: 30px;
}

.section__text--break {
  break-after: avoid;
}

.section__text--mt-16 {
  margin-top: 16px;
}

.section__text--mb-16 {
  margin-bottom: 1em;  
}

.section__title--mb-30 {
  margin-bottom: 30px;
}

.section__link {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;

  background-color: var(--primary);

  font-weight: 700;
  color: var(--white);

  text-transform: uppercase;
}

.section__link:hover {
  background-color: #EA7600;
}

.section--height {
  height: 747px;
}

.preview {
  position: relative;
  height: 947px;
  padding-bottom: 0;
  text-align: center;
}

.preview__container {
  height: 747px;
  padding-bottom: 0;
}

.preview__title {
  margin-bottom: 30px;
}

.preview__text {
  margin-bottom: 30px;
}

.preview__img {
  position: relative;
  z-index: 100;
  display: block;
  right: 0;
  left: 0;
  margin: auto;

  width: 919px;
  height: 517px;
}

.img--shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.preview__footer {
  width: 1440px;
  height: 200px;
  background-color: var(--primary-dark);
}

.nav {
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding-top: 200px;
}

.nav__cards-title {
  width: 350px;
}

.nav__title {
  font-size: 52px;
  color: var(--white);
}

.card {
  display: block;
  width: 350px;
  padding: 24px;

  background-color: var(--light);
}

.card__number {
  display: inline-block;
  margin-bottom: 40px;

  font-family: Neucha, sans-serif;
  font-size: 64px;
  line-height: 1em;
}

.card:hover {
  background-color: var(--primary);
  color: var(--white);
}

.section__top {
  display: flex;
  column-gap: 30px;
  margin-bottom: 100px;
}

.section__top--row-reverse {
  flex-direction: row-reverse;
}

.section__name {
  font-size: 24px;
  font-weight: 400;
  font-family: Neucha, sans-serif;
}

.section__name--fcdt {
  color: var(--dark-transparen);
}

.section__name--fcwt {
  color: var(--white-transparen);
}

.content__title {
  column-span: all;

  margin-bottom: 20px;
  padding-left: 10px;

  font-size: 14px;
  font-weight: 700;
}

.content__title--light-theme {
  background-color: var(--brown);
  color: var(--white);
}

.content__title--brown-theme {
  background-color: var(--white);
  color: var(--brown);
}

.section--mt-13 {
  margin-top: 13px;
}

.footer {
  display: flex;
  background-color: var(--primary-dark);
}

.footer__title {
  color: var(--white);
}

.footer__left {
  width: 50%;
  padding: 55px;
}

.footer__right {
  width: 50%;
  padding-top: 38px;
  padding-left: 15px;
}

.form--flex {
  display: flex;
}

.form {
  color: var(--white);
}

.form__label {
  display: inline-block;
  margin-bottom: 9px;
}

.form__input {
  height: 50px;
  width: 423px;
  padding: 15px;

  border: none;
}

.form__input::placeholder {
  font-size: 13px;
  line-height: 1.6em;
  color: #757575;
  opacity: 0.2;
}

.form__btn {
  position: relative;
  width: 70px;
  height: 50px;

  border: none;

  background-color: var(--primary);
}

.form__btn::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;

  background-image: url("../assets/images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form__text {
  font-size: 12px;
}

.form__link {
  font-size: 12px;
  color: var(--white);
  text-decoration: underline;
}

.footer__info {
  margin-top: 76px;
  text-align: center;

  font-size: 14px;
  line-height: 16px;
}
.footer__info p {
  margin-bottom: 16px;
}

.info__link {
  color: #1085c5;
  text-decoration: underline;
} */


:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #FE8A02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-size: 16px;
  --line-height: 1.6em;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
  line-height: 1.6em;
}

@font-face {
  font-family: "Neucha";
  src: url(../assets/fonts/Neucha-Regular.ttf);
  line-height: 1.6em;
}

h1, h2, h3, h4, h6 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size:  34px;
}

h4 {
  font-size: 60px;
}

h5 {
  font-size: 14px;
  font-weight: 700;
}

/* SECTION 1 */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--light);
}
  
.header::before {
  position: absolute;
  background-image: url(../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}

.header-section-1110px {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}
  
.h1-header {
  z-index: 1;
  font-family: "Neucha";
  position: relative;
}
  
.orange {
  color: var(--main);
}
  
.black {
  color: var(--dark);
}
  
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.6em;
}
  
.main-img {
  position: absolute;
  height: 525px;
  top: 55px;
  left: 700px;
}

.txt-header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 30px;
  padding-top: 80px;
}
  
.colum-left {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
  
.colum-right {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
  
.button-header-section {
  background-color: var(--main);
  width: 150px;
  height: 50px;
  border: none;
  color: white;
  font-family: "Open Sans";
  font-weight: 700;
  margin-left: 570px;
  margin-top: 30px;
}
/* VIDEO-SECTION */
.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.width-1110px-video {
  width: 1110px;
  padding-top: 100px;
}

.h2-video {
  font-family: "Neucha";
}

.h2-video-black {
  color: var(--dark)
}

.h2-video-orange {
  color: var(--main)
}

.p-video {
  font-family: "Open Sans";
}

.video {
  position: relative;
  margin-top: -30px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  border: 0;
  top: 50px;
}

/* FIVE-DISTROTION-SECTION */

.five-distortion {
  background-color: var(--main-dark);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.width-1110px-five-distortion {
  max-width: 1110px;
  padding-top: 200px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.five-distortion-orange {
  color: var(--main)
}

.five-distortion-white {
  color: var(--white);
}

.card-h2 {
  font-family: "Neucha";
  font-size: 52px;
  width: 350px;
  height: 350px;
}

nav {
  width: 350px;
  height: 350px;
  background-color: var(--light);
  margin-bottom: 20px;
}

.h1_black {
  color: var(--main-dark);
  font-size: 64px;
  line-height: 1;
  font-family: "Neucha";
  margin-bottom: 40px;
}

.h3-orange {
  color: var(--main);
  font-family: "Neucha";
}

.p-five-distortion {
  color: var(--dark);
  font-family: "Open Sans";
  font-size: 16px;
}

.div-card {
  padding: 24px 24px 24px 24px;
}

/* IKEA-SECTION */


.IKEA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--light);
}

.IKEA::before {
  position: absolute;
  background-image: url(../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}

.IKEA-1110px {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-1.img {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.text-block {
  margin-left: 30px;
}

.text-block-l {
  margin-right: 30px;
}

.inline {
  position: relative;
  column-count: 2;
  column-gap: 30px;
}

.p-all {
  font-size: 24px;
  font-family: "Neucha";
  color: var(--translucent-dark);
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 29px;
}

.h4-dark-all {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  color: var(--dark);
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: 400px;
}

.under-h4-all {
  font-size: 34px;
  font-weight: 400;
  line-height: 41px;
  font-style: normal;
  font-family: "Neucha";
  color: var(--dark);

}

.h5-footer-brown {
  position: relative;
  margin: 100px 0 20px;
}

.h5-white {
  background-color: var(--brown);
  font-family: "Open Sans";
  color: var(--white);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.column {
  column-count: 2;
  column-gap: 30px;
}

.footer-left {
  margin: 0;
}

.footer-right {
  margin: 0;
}

/* OPTIMIZATION-SECTION */

.optimization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--brown);
}

.optimization::before {
  position: absolute;
  background-image: url(../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}

.optimization-1110px {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-2.img {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
  position: relative;
  max-width: 100%;
}

.inline-white {
  overflow: hidden;
  column-count: 2;
  column-gap: 0px;
}
.p-white-all {
  color: var(--translucent-white);
  font-size: 24px;
  font-family: "Neucha";
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 29px;
}

.h4-white-all {
  color: var(--white);
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: 400px;

}

.under-h4-white-all {
  color: var(--white);
  font-size: 34px;
  font-weight: 400;
  line-height: 41px;
  font-style: normal;
  font-family: "Neucha";
}

.h5-footer-white {
  position: relative;
  margin: 100px 0 20px;
}

.h5-brown {
  background-color: var(--white);
  font-family: "Open Sans";
  color: var(--brown);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.column-white {
  column-count: 2;
  column-gap: 30px;
  color: var(--white);
}

.footer-left {
  margin: 0;
}

.footer-right {
  margin: 0;
}

/* DISTORTION-SECTION */

.distortion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--light);
}

.distortion::before {
  position: absolute;
  background-image: url(../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}

.distortion-1110px {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-3.img {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}


.p-distortion {
  font-size: 24px;
  font-family: "Neucha";
  color: var(--translucent-dark);
  margin-bottom: 0px;
}

/* DEPRECATION-SECTION */

.depreciation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--brown);
}

.depreciation::before {
  position: absolute;
  background-image: url(../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}

.depreciation-1110px {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-4.img {
  position: relative;
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
  max-width: 100%;
}

.p-depreciation-white {
  font-size: 24px;
  font-family: "Neucha";
  color: var(--translucent-dark);
  margin-bottom: 0px;
  margin-top: 0px;
}

/* PLANNING-ERROR-SECTION */

.planning-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--light);
}

.planning-error::before {
  position: absolute;
  background-image: url(../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}

.planning-error-1110px {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-5.img {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}


.p-planning-error {
  font-size: 24px;
  font-family: "Neucha";
  color: var(--translucent-dark);
  margin-bottom: 0px;
}

/* SECTION-FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-1110px-width {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-column {
  background-color: var(--main-dark);
  column-count: 2;
  padding: 55px 55px 55px 55px;
}

.center {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
}

.footer-column-left {
  font-family: "Neucha";
  color: var(--white);
}

.p-email {
  font-family: "Open Sans";
  color: var(--white);
  font-size: 18px;
  margin-bottom: 0px;
}

.p-column {
  font-family: "Open Sans";
  color: var(--white);
  font-size: 12px;
  margin-top: 0px;
}

.email-button {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.email {
  border: none;
  width: 425px;
  height: 48px;
  padding-left: 15px;

}

.footer-button {
  border: none;
  width: 70px;
  height: 50px;
  background-color: var(--main);
  border: none;
  background-image: url(../assets/images/send.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.a-text {
  color: var(--white);
}

input::-webkit-input-placeholder {
  font-family: "Open Sans";
  opacity: 0.2;
}

.u {
  color: var(--blue);
}


.p3-footer {
  color: var(--blue);
}

.a-text-p3 {
  color: var(--blue);
}

.footer-h3 {
  margin: 0px;
}